FilesToUpload/
Other/
Data/Simulations/Run092623/
Data/Simulations/Run101723/
Data/Simulations/Run032824/
__pycache__/
Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/
!Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/*.pdf
!Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/*.tex
!Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/*.bib
!Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/prelim/*.tex
!Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/images/
!Thesis_MS_ScientificComputing_FlorezCoronel_JuanE/chapters/*.tex
client_secrets.json
credentials.json
settings.yaml